
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: -100px;
}

.color_box, h1, h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: auto;
    text-align: center;
    background-color: rgb(67, 67, 67);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.color_box2 {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    margin: 10px auto 10px 0;
    max-width: 590px;
    background-color: rgb(67, 67, 67);
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    position: relative;
    left: -340px;
}

.color_box3 {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    margin: 45px auto 10px 0;
    max-width: 590px;
    background-color: rgb(67, 67, 67);
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    position: relative;
    left: -340px;
}

.color_box4 {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    text-align: left;
    background-color: rgb(67, 67, 67);
    border-radius: 20px;
    max-width: 1000px;
    width: 1000px; 
    min-width: 1000px;
    max-height: auto;
    padding: 10px;
    margin: -1050px auto 10px 540px;
    box-sizing: border-box;
}

.color_box5 {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(67, 67, 67);
    max-width: 1000px;
    width: 1000px;
    min-height: auto;
    padding: 10px;
    margin: -1550px auto 10px 540px;
    box-sizing: border-box;
    border-radius: 20px;

}

h3 {
    text-align: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

h4 {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

h5 {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

h6 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

img[alt="Скебоб"] {
    display: block;
    margin: -560px auto 10px 340px;
    max-width: 100%;
    width: 1000px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

img[alt="Скебоб"]:hover {
    transform: scale(1.02);
}

.gif-box {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -340px;
    width: 100%;
    clear: both;
    gap: 10px;
}

.gif1 {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    padding: 1px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    height: auto !important;
    width: 400px !important;
    transition: transform 0.3s ease;

}

.gif2 {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    padding: 1px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    height: auto !important;
    width: 400px !important;
    transition: transform 0.3s ease;
}

.gif3 {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    padding: 1px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    height: auto !important;
    width: 400px !important;
    transition: transform 0.3s ease;
}


.gif-box img:hover {
    transform: scale(1.02);
}
